html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Kanit', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	margin-left: auto;
    margin-right: auto;
}
a{text-decoration: none;}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    box-shadow: 
}

li {
    float: left;
}

li a {
    display: block;
    color: #ea3035;
    text-align: center;
    padding: 14px 0;
    text-decoration: none;
}
.navigation {
    top: 0px;
    height: 76px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
}
.btn{
    padding: 9px 30px;
    text-align: center;
    border-radius: 25px;
    color: #ea3035;
    width: 50%;
    margin-left: 25px;
    border-color: #ea3035;
    border-style: solid;
    border-width: 2px;
    background-color: #fff;
    transition: all 200ms ease-in-out;
}
.slide{
	background-image: url("../img/slide.png");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
	max-width: 100%;
	height:440px;
	margin-right: auto;
    margin-left: auto;
}
.head-title{
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}
h1 {
    color: #fff;
    font-size: 33px;
    font-weight: 400;
}
h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
.btn-slide {
    padding: 9px 30px;
    text-align: center;
    border-radius: 25px;
    color: #fff;
    width: 7%;
    margin-top: 30px;
    border-color: #19bfe6;
    border-style: solid;
    border-width: 2px;
    background-color: #19bfe6;
    transition: all 200ms ease-in-out;
}
.service{
    max-width: 645px;
    height:285px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
}
.service-detail{
    padding: 50px 20px;
    margin: 40px 10px;
    width: 24%;
    height: 100px;
    border-radius: 15px;
    float: left;
}
.service-detail-top{
    text-align: center;
}
.service-detail-bt{
    text-align: center;
    margin-top: 15px;
}
h3{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
h4{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
}
.menu-hit{
    max-width: 100%;
    height:370px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ebebeb;
}
.menu-hit-detail-top{
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}
h5{
    font-size: 22px;
    font-weight: 400;
}
h6{
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
}
.menu-hit-detail-bt{
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    max-width: 1170px;
    margin-top: 20PX;
}
.menu-hit-name{
    width: 15%;
    text-align: center;
    float: left;
    height: auto;
    padding: 9px 5px;
    margin-left: 6px;
    /* margin-right: auto; */
}
.menu-pic{
    width: 100%;
    height: auto;
}
.menu-detail{
    background-color: #ea3035;
    float: left;
    height: 60px;
    color: #FFF;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 100%;
    margin-top: -2px;
    
}
.menu-detail-left{
    padding-top: 15px;
    font-size: 12px;
    width: 70%;
    float: left;
    text-align: left;
    margin-left: 10px;
}
.menu-detail-right{
    padding-top: 15px;
    font-size: 12px;
    width: 20%;
    float: left;
    text-align: left;
}
.footer{
    max-width: 100%;
    height:270px;
    margin-right: auto;
    margin-left: auto;
    background-color: #484848;
}
.footer-detail-top{
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}
.footer-detail-bt{
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}
.menu-hit-detail-bt-home{
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    margin-top: 20PX;
}
.menu-hit-name-home {
    width: 18%;
    text-align: center;
    float: left;
    height: auto;
    padding: 9px 5px;
    margin-left: 8px;
    /* margin-right: auto; */
}
/*
----------menu---------------*/
.menu-all{
    max-width: 100%;
    height:770px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
}
.menu-alls{
    max-width: 100%;
    height:310px;
    margin-right: auto;
    margin-left: auto;
}
/*=-------------cart==============*/
.cart{

}
.cart-top{
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}
.cart-bt{
    margin-left: auto;
    margin-right: auto;
    height: 430px;
    max-width: 1170px;
    margin-top: 20PX;
        margin-bottom: 20px;
}
.btn-cart {
    padding: 9px 20px;
    text-align: center;
    border-radius: 25px;
    color: #fff;
    width: 10%;
    margin-top: 30px;
    border-color: #19bfe6;
    border-style: solid;
    margin-left: 10px;
    border-width: 2px;
    background-color: #19bfe6;
    transition: all 200ms ease-in-out;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f4f4f4;    height: 40px}
tr{
    height: 40px;

}
td{
    color:#484848;

}
.cart-bt-left-d {
    height: auto;
    width: 80%;
    margin: 10px auto;
}
.left-d {
    height: 10px;
    color: #444;
    width: 100%;
    padding: 10px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    background-color: rgba(204, 204, 204, 0.26);
}
.cart-m {
    width: 90%;
    float: left;
    height: auto;
    margin: 0 10PX;
    margin-right: 51px;
}
.cart-pay {
    background-color: rgba(204, 204, 204, 0.26);
    border: 1px;
    border-radius: 20px;
    width: 100%;
    height: 30px;
    padding-left: 5px;
    padding: 9px 15px;
    margin-top: 10px;
}
.cart-pay-d {
    width: 25%;
    float: left;
}

.cart-bt-left{
    float: left;
    width: 50%;
    height: 400px;
}
.cart-bt-right{
    float: left;
    width: 50%;
    height: 400px;
}
.btn-order {
    padding: 9px 20px;
    text-align: center;
    border-radius: 25px;
    color: #fff;
    width: 20%;
    margin-top: 30px;
    border-color: #19bfe6;
    border-style: solid;
    margin-left: 10px;
    border-width: 2px;
    background-color: #19bfe6;
    transition: all 200ms ease-in-out;
}
.order-head{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
    background-color: white;
}
.order-head-detail{
    width: 16%;
    height: 45px;
    float: left;
    text-align: right;
    margin-top: 10px;
    color: #484848;
}
.order-detail{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
height: 90px;
    background-color: #f4f4f4;
        border-radius: 10px;
    margin-top: 10px;
}
.order-datail-list{
    width: 16%;
    height: 80px;
    float: left;
    text-align: right;
    margin-top: 10px;
    color: #484848;
}
.result{
    width: 100%;
    height: 130px;
}
.grid {
    padding: 24px 25px;
    max-width: 1500px;
    margin: 0 auto;
}
.cell.is-first {
    width: 23%;
    padding-left: 70px;
    margin-top: -14px;
}
.cell.is-sec {
    width: 42%;
    margin-left: 15px;
}
.cell.is-third {
    width: 30%;
    margin-left: 26px;
}
.cell {
    display: inline-block;
    vertical-align: top;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}